*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Fix Navbar */
.navbar {
    background-color: #ffc107;
    padding: 12px;
    margin: 0 !important;
    border: none !important;
    border-radius: 0 !important;
}

.container-fluid {
    padding: 0 !important;
}

.bg-topo {
    background-image: url('../images/img_topo.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    background-clip: border-box;
    background-attachment: scroll;
    max-width: 100%;
    height: 110vh;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media screen and (max-width: 450px) {
    .bg-topo {
        background-image: url('../images/img_topo.jpg');
        background-position: right;
        background-repeat: no-repeat;
        background-clip: border-box;
        background-attachment: fixed;
        max-width: 100%;
        height: 100vh;
        position: relative;
        background-color: black;
    }
}

.text-position {
    position: absolute;
    padding: 7% !important;
    display: block;
    text-align: left;
    color: white;
}

.text-position h1 {
    background-color: #ffc107;
    font-family: 'Lato-Black';
}

@media screen and (min-width: 650px) {
    .text-position h1 {
        font-size: 6vw;
        width: auto;
    }
}

@media screen and (min-width: 650px) {

    div.text-position h4 {
        font-size: 5vw;
        width: auto;
        text-align: justify;
    }
}

.bg-dark {
    background-image: url('../images/bg.png');
    background-position: top;
}

div.panel {
    position: relative;
    bottom: 15vh;
    height: 50vh;
    padding: 4vw;
    text-align: center;
    margin: 0 !important;
}

@media screen and (max-width: 1358px) and (max-height: 490px) {

    .panel {
        top: 5vh;
        height: 60vh !important;
        background-color: white;
        border: none;
        color: black;
        align-items: center;
        padding: 15vh !important;
        ;
    }
}

@media screen and (max-width: 650px) {

    .panel {
        height: 80vh !important;
        background-color: transparent;
        border: none;
        color: white;
        align-items: center;
        padding: 15vh !important;
    }
}

@media screen and (max-width: 420px) {

    .panel,
    h2,
    h4 {
        font-size: 3vh !important;
        padding: 3vh !important;
        background-color: transparent;
        border: none;
        color: white;
        text-align: left;
        margin-top: 15vh;

    }
}

div.list-title-style {
    padding-top: 5vh;
    padding-bottom: 10vh;
    color: #ffc107;
    font-size: 5vh !important;
    top: 10vh;
}

div.list-style {
    color: white;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.list-style h4 {
    font-size: 3vh;
}

.list-style ul {
    margin-left: -4% !important;
}

.cards {
    background-color: #f8f9fa;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.cards_item {
    display: flex;
    padding: 3rem;
    margin: auto;
}

.cards_item img {
    width: 25vh;
    text-align: center;
    margin: auto;
}

.card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.65);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 5%;
    height: 75vh;
}

.card_content {
    padding: 3vh;
    background-color: white;
    text-align: center;
    height: 75vh;
}

.card_title {
    color: #ffc107;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.card_text {
    padding-top: 5vh;
    padding-bottom: 5vh;
    font-size: 3vh;
    color: black;
}

@media screen and (max-width: 420px) {
    .card {
        background-color: white;
        border-radius: 0.25rem;
        box-shadow: 0 20px 30px -14px rgba(0, 0, 0, 0.65);
        display: flex;
        flex-direction: column;
        overflow: hidden;
        border: 2px solid rgba(255, 255, 255, 0.5);
        border-radius: 2%;
        height: 60vh;
    }
}


@media screen and (max-width: 420px) {
    .card_content {
        padding: 1vh;
        background-color: white;
        text-align: center;
        height: 75vh;
    }
}


@media screen and (max-width: 420px) {
    .cards_item img {
        width: 15vh;
        text-align: center;
        margin: auto;
    }
}

@media screen and (max-width: 420px) {
    .card_text {
        padding-top: 0vh !important;
        padding-bottom: 0vh !important;
        font-size: 2vh !important;
        margin-top: 8vh;
        color: black;
    }
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 1%;
}

a {
    list-style-type: none;
    text-decoration: none;
    color: white;
}

a:link {
    color: white;
    list-style-type: none;
    text-decoration: none;
}

a:hover {
    color: white;
    list-style-type: none;
    text-decoration: none;
}

/* Fonts  */

@font-face {
    font-family: 'Lato-Black';
    src: url('../fonts/Lato-Black.ttf');
}

@font-face {
    font-family: 'Lato-BlackItalic';
    src: url('../fonts/Lato-BlackItalic.ttf');
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('../fonts/Lato-Bold.ttf');
}

@font-face {
    font-family: 'Lato-BoldItalic';
    src: url('../fonts/Lato-BoldItalic.ttf');
}

@font-face {
    font-family: 'Lato-Hairline';
    src: url('../fonts/Lato-Hairline.ttf');
}

@font-face {
    font-family: 'Lato-HairlineItalic';
    src: url('../fonts/Lato-HairlineItalic.ttf');
}

@font-face {
    font-family: 'Lato-Italic';
    src: url('../fonts/Lato-Italic.ttf');
}

@font-face {
    font-family: 'Lato-Light';
    src: url('../fonts/Lato-Light.ttf');
}

@font-face {
    font-family: 'Lato-LightItalic';
    src: url('../fonts/Lato-LightItalic.ttf');
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/Lato-Regular.ttf');
}